body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: poppins;
}
    
.banner1{
    height:100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url(./image/dark-library2.jpg);
    animation: baner1 12s  infinite;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: none;
    justify-content: center;
    animation: change 12s infinite ease-in-out;
}

@keyframes change{
    0%{
        background-image:url(./image/dark\ book.jpg) ;
    }
    25%{
        background-image: url(./image/night\ rode.jpg);

    }
    50%{
        background-image: url(./image/hp\ laptop.jpg);

    }
    75%{
        background-image: url(./image/dark-library2.jpg);

    }
    100%{       
        background-image: url(./image/candle\ book.jpg);
   
    }
}

 

.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
}
.wrapper h2{
    padding: 0;
    margin: 0;
    color: #fff;
    text-shadow: 0 2px 0 rgba(0,0,0,0.5);
    font-size: 60px;

}
.wrapper p{
    color:#fff;
    font-size: 18px;
    margin: 0;
    line-height: 35px;
    font-size: 1.3rem;  
}



span:before{
    content: "";
    animation: animate infinite 8s;
}
@keyframes animate{
    0%{
        content: "...";
    }
    20%{
        content: "CSE";
    }
    40%{
        content: "EE";
    }
    60%{
        content: "ECE";
    }
    80%{
        content: "CE";
    }
    100%{
        content: "AEIE";
    }
}

/* ############### navbar start ##########3 */
#navbar{
    width: 100%;
    height: 6rem;
    position: fixed;
    z-index: 1000;
    background-color: rgba(211, 199, 199, 0.089);
}
.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    align-items: center;

}
.nav-item{
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-right: 15px;
}
.nav-item li{
    margin-left: 2rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    /* position: relative; */


}
.nav-item li:hover .d-menu{
    opacity: 1;
    visibility: visible;
}

.nav-item li a{
    color: rgb(255, 255, 255);
    transition: all 0.3s ease-in-out;
    font-weight: 20px;
    border-bottom: 3px solid crimson;
    margin-bottom: 50px;
    padding: 13px 0;
    text-decoration: none;
}
.nav-item li a:hover{
    color:rgba(255, 255, 255, 0.596);
}


